@model PictureUpdateServiceModel

<br />
<h4 class="text-primary">Update your vehicle picture</h4>
<div>
    For each vehicle a picture can be uploaded. <br />
    The picture must be in format: jpeg, jpg, png or bmp. <br />
    Picture will be automatically resized.
</div>

<img class="img-tiny" src="@Model.Path" />
<div class="row">
    <div class="col-md-4">
        <hr />
        <form asp-action="update" method="post" enctype="multipart/form-data" class="text-center">
            <input type="file" name="file" />
            <br />
            <div class="pull-left">
                <input type="submit" asp-route-vehicleId="@Model.VehicleId" asp-route-oldPictureId="@Model.Id" class="btn btn-success" value="Upload Image" />
            </div>
        </form>

        <form asp-area="vehicle" asp-controller="picture" asp-action="delete" method="post" class="text-center"> 
            <div class="pull-left">
                <input type="hidden" name="vehicleId" value="@Model.VehicleId" />
                <input type="hidden" name="oldPictureId" value="@Model.Id" />
                <input type="submit" class="btn btn-danger" value="Delete Image" />
                <a asp-controller="vehicle" asp-action="details" asp-route-id="@Model.VehicleId" class="btn btn-default">Cancel</a>
            </div>
        </form> 

    </div>
</div>

