@model CategoryViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3 class="text-center">@Model.Name</h3>
    <hr />
    <div class="text-center">Products:</div>
    @if (User.IsInRole(WebConstants.AdministratorRole))
    {
        <div class="text-center">
            @Html.ActionLink("Add Product to this category", "Create", "Product", new { @categoryId = Model.Id }, null)
        </div>
    }

    <div class="container">
        @foreach (var product in Model.Products)
        {
            <div class="body-content col-sm-6">
                <div class="col-sm-12 well">
                    <div class="pull-left">
                        <img height="100" src="@product.Pictures.FirstOrDefault()?.Path" />
                    </div>
                    <div class="pull-right">
                        <div>
                            @Html.ActionLink(@product.Name, "Details", "Product", new { @id = product.Id }, null);
                        </div>
                        <div>
                            Price: @product.Price.ToString("f2")
                        </div>
                        <a asp-controller="Shopping" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-returnUrl="/Shopping/Cart" 
                            class="btn btn-default">Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
