@model IEnumerable<ProductShoppingCartModel>

@{
    ViewData["Title"] = "Cart";
}

<link href="~/css/ShoppingCart.css" rel="stylesheet" />

<h2>Cart</h2>

<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:60%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                var subtotal = product.Amount * product.Price;

                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs">
                                <img src="@product.PicturePath" alt="@product.Name" class="img-responsive" />
                            </div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">@product.Name</h4>
                                <p>@product.Description</p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">$@product.Price</td>
                    <td data-th="Quantity">
                        <a asp-controller="Shopping" asp-action="RemoveFromCart" asp-route-productId="@product.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-default btn-sm">-</a>
                        <span>@product.Amount</span>
                        <a asp-controller="Shopping" asp-action="AddToCart" asp-route-productId="@product.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-default btn-sm">+</a>
                    </td>
                    <td data-th="Subtotal" class="text-center">@subtotal.ToString("F2")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center">
                    <strong>Total @Model.Select(m => m.Amount * m.Price).Sum() &euro;</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
                </td>
                <td class="hidden-xs text-center"><strong>Total @Model.Select(m => m.Amount * m.Price).Sum() &euro;</strong></td>
                <td>
                    <a href="/Shopping/Order" class="btn btn-success btn-block">Checkout<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>