@model ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Product details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <div class="navbar-right">
        <a asp-controller="Shopping" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-returnUrl="/Shopping/Cart"
           class="btn btn-default">Buy</a>
    </div>
    <br />
    <hr />
    @if (Model.Pictures.Any())
    {
        <div class="well row">
            @foreach (var picture in Model.Pictures)
            {
                <a href="@picture.Path" target="_blank">
                    <img class="figure-img" height="200" src="@picture.Path" alt="@Model.Name" />
                </a>
                @if (User.IsInRole(WebConstants.AdministratorRole))
                {
                    <form asp-controller="Picture" asp-action="Delete" method="post">
                        <input asp-controller="Picture" asp-action="Delete" method="post" type="submit" asp-route-id="@picture.Id" class="btn btn-default" value="Delete Photo" />
                    </form>
                }
            }
        </div>
        <hr />
    }
    <div>
        @if (User.IsInRole(WebConstants.AdministratorRole))
        {
            <div>
                <form asp-controller="Picture" asp-action="Add" method="post" enctype="multipart/form-data">
                    <input type="file" class="grey-text text-lighten" name="files" multiple />
                    <input asp-controller="Picture" asp-action="Add" method="post" type="submit" asp-route-id="@Model.Id" class="btn btn-default" name="files" id="submitID" value="Upload Photo" />
                </form>
            </div>

            <span>@Html.ActionLink("Edit", "Edit", new { @id = Model.Id })</span> <span> | </span>
            <span>@Html.ActionLink("Delete", "Delete", new { @id = Model.Id })</span> <span> | </span>
        }
        <a asp-controller="Home" asp-action="Index">Back to Home page</a>
    </div>
</div>
