@model IEnumerable<FeedbackListingViewModel>

@{
    ViewData["Title"] = "All";
}

<h2>All Feedbacks</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SenderEmail)
                </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var feedback in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => feedback.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => feedback.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => feedback.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => feedback.SenderEmail)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = feedback.Id })
            </td>
        </tr>
}
    </tbody>
</table>
